@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('../fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBold.woff') format('woff');
    font-weight: bold;
}


@font-face {
    font-family: 'GTWalsheimProBlack';
    src: url('../fonts/GTWalsheimProBlack.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBlack.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'GTWalsheimProMedium';
    src: url('../fonts/GTWalsheimProMedium.woff2') format('woff2'),
        url('../fonts/GTWalsheimProMedium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'True font';
    src: url('../fonts/TrueLight.woff2') format('woff2'),
        url('../fonts/TrueLight.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'True font';
    src: url('../fonts/TrueMedium.woff2') format('woff2'),
        url('../fonts/TrueMedium.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'True font';
    src: url('../fonts/TrueBold.woff2') format('woff2'),
        url('../fonts/TrueBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'True Bold Special';
    src: url('../fonts/TrueBoldSpecial.woff2') format('woff2'),
        url('../fonts/TrueBoldSpecial.woff') format('woff');
    font-weight: bold;
}