section {
    @include media-breakpoint-up(lg) {
        min-height: 100vh;
    }
}

#sec-one {
    background: url('../images/bg-01.jpg') no-repeat center top/100% auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .image {
        margin-bottom: 12px;

        img {
            max-width: 270px;
        }
    }

    .text {
        margin-bottom: 78px;
        font-size: 28px;

        h1 {
            line-height: 36px;
            font-size: 50px;
            font-family: $font-family-special;
            margin-bottom: 0;
        }
    }

    .line {
        width: 4rem;
        border-width: .25rem;
        border-top-color: #DB0B75;
    }

    @include media-breakpoint-up(lg) {
        background: url('../images/bg-01-lg.jpg') no-repeat center top/cover;

        .image {
            img {
                max-width: 560px;
            }
        }

        .text {
            font-size: 55px;

            h1 {
                font-size: 90px;
                line-height: 64px;
            }
        }
    }
}

#sec-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bg-02-lg.jpg') no-repeat center top/auto;
    padding: 1.5rem 0;
    padding-top: 0;

    .video {
        max-width: 945px;
        margin: 0 auto;
        margin-bottom: 23px;

        img {
            width: 100%;
        }
    }

    .text {
        font-size: 22px;
        font-weight: bold;
        color: white;
        text-align: center;
        line-height: 20px;
    }

    @include media-breakpoint-up(lg) {

        .video {
            margin-bottom: 58px;
        }

        .text {
            font-size: 40px;
        }
    }

    @include media-breakpoint-down(md) {
        min-height: unset;
    }
}

#sec-three {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        position: relative;
        margin-bottom: 17px;


        img {
            width: 100%;
        }

        .logo {
            position: absolute;
            right: 15px;
            bottom: -50px;
            width: 101px;
            height: 112px;
            object-fit: cover;
        }
    }

    .title {
        color: $red;
        font-size: 42px;
        font-family: $font-family-special;
    }

    .text {
        font-size: 20px;
        color: white;
    }

    @include media-breakpoint-up(lg) {
        .image {
            margin-bottom: 45px;

            &::before {
                content: '';
                position: absolute;
                top: 182px;
                left: -80px;
                width: 125px;
                height: 125px;
                background: url('../images/box-left.png') no-repeat center center/cover;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 5px;
                right: -160px;
                width: 145px;
                height: 194px;
                background: url('../images/box-right.png') no-repeat center center/cover;
            }

            .logo {
                width: 355px;
                height: 396px;
                left: 150px;
                bottom: -220px;
            }
        }

        .title {
            font-size: 60px;
        }

        .text {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 50px;
        }
    }
}

#sec-four {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;

    .title {
        color: $red;
        font-size: 42px;
        font-family: $font-family-special;
    }

    .text {
        font-size: 20px;
        color: white;
    }

    @include media-breakpoint-up(lg) {
        &::before {
            content: '';
            position: absolute;
            top: 100px;
            left: 0;
            width: 319px;
            height: 550px;
            background: url('../images/sec-04-left.png') no-repeat center center/cover;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 30px;
            width: 263px;
            height: 736px;
            background: url('../images/sec-04-right.png') no-repeat center center/cover;
            z-index: -1;
        }

        .title {
            font-size: 60px;
        }

        .text {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 50px;
        }
    }
}

#sec-five {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    color: white;
    position: relative;
    background: black url('../images/bg-05.jpg') no-repeat center top/100% auto;

    .subtitle {
        font-size: 14px;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    .title {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .logo {
        max-width: 254px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .date {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .logo-with {
        max-width: 102px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .detail {
        background-color: black;
        font-size: 20px;
        text-align: left;
        line-height: 21px;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../images/bg-05-lg.jpg') no-repeat center center/cover;

        .subtitle {
            font-size: 30px;
            margin-bottom: 75px;
        }

        .title {
            font-size: 63px;
            line-height: 40px;
            margin-bottom: 90px;
        }

        .logo {
            max-width: 513px;
        }

        .date {
            font-size: 60px;
        }

        .logo-with {
            max-width: 290px;
            margin: unset;
            margin-bottom: 0;
            position: absolute;
            left: 60px;
            bottom: 80px;
        }

        .detail {
            background-color: transparent;
            font-size: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
}

#sec-six,
#sec-seven,
#sec-eight {
    padding: 1.5rem 0;

    .image {
        margin-bottom: 35px;
        max-width: 100%;

        @include media-breakpoint-down(md) {
            margin-left: -15px;
            max-width: calc(100% + 30px);
        }
    }

    .title {
        display: flex;
        align-items: flex-end;
        font-size: 20px;
        font-family: $font-gt-black;
        line-height: 19px;
        margin-bottom: 30px;

        img {
            max-width: 128px;
            margin-right: 8px;
        }

        &.pink {
            color: $pink;
        }

        &.orange {
            color: $orange;
        }

        &.red {
            color: $red;
        }

        &.yellow {
            color: $yellow;
        }

        &.green {
            color: $green;
        }
    }

    .text {
        color: white;
        font-size: 22px;
        line-height: 18px;
        text-indent: 30px;
    }

    @include media-breakpoint-up(lg) {
        .title {
            font-size: 30px;
            line-height: 31px;

            img {
                max-width: 182px;
            }
        }

        .text {
            font-size: 30px;
            line-height: 24px;
        }
    }
}

#sec-nine {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bg-09.png') no-repeat center top/cover;
    color: white;
    padding: 1.5rem 0;

    .title {
        display: flex;
        align-items: center;
        font-family: $font-gt-black;

        &-left {
            font-size: 42px;
            display: flex;
            text-align: center;

            img {
                width: 110px;
                margin-right: 10px;
            }
        }

        &-right {
            display: none;
            font-size: 30px;
            text-transform: uppercase;
            line-height: 35px;

            span {
                font-family: $font-gt-medium;
            }
        }
    }

    .slick {
        &-item {
            padding: 0 15px;

            &:focus {
                outline: none;
            }

            &:nth-child(3n+1) {
                .date {
                    background: url('../images/bg-date-01.png') no-repeat right top/auto;
                }

                .image {
                    &::before {
                        background-image: url('../images/milestone-pattern-01.png');
                        background-position: -9rem -8rem;
                    }
                }
            }

            &:nth-child(3n+2) {
                .date {
                    background: url('../images/bg-date-02.png') no-repeat right top/auto;
                }

                .image {
                    &::before {
                        background-image: url('../images/milestone-pattern-02.png');
                        background-position: 0 -9rem;
                    }
                }
            }

            &:nth-child(3n+3) {
                .date {
                    background: url('../images/bg-date-03.png') no-repeat right top;
                }

                .image {
                    &::before {
                        background-image: url('../images/milestone-pattern-03.png');
                        background-position: -5rem 8rem;
                    }
                }
            }
        }

        &-dots {
            li {
                display: inline-block;
                margin: 0 calc(15px / 2);
                width: 35px;
                height: 3px;

                &.slick-active>button {
                    background-color: $red;
                }
            }

            button {
                width: 35px;
                height: 3px;
                padding: 0;
                background-color: white;

                &::before {
                    display: none;
                }
            }
        }

        .date {
            font-size: 37px;
            text-align: right;
            padding-top: 28px;
            padding-right: 15px;

            span {
                font-size: 48px;
                font-family: $font-family-special;
                display: block;
                margin-bottom: -38px;
            }
        }

        .image {
            position: relative;
            margin-bottom: 70px;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: auto;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, $pink 0%, rgba(white, 0) 40%, rgba(white, 0) 100%);
                border-radius: 3px;
            }

            img {
                width: 100%;
                height: 218px;
                object-fit: cover;
                border-radius: 3px;
            }
        }

        .text {
            font-size: 26px;
            line-height: 27px;
        }
    }

    @include media-breakpoint-up(lg) {
        background: url('../images/bg-09-lg.png') no-repeat center center/cover;

        .title {
            margin-bottom: 40px;

            &-left {
                flex-direction: column;
                font-size: 60px;

                img {
                    width: 240px;
                }
            }

            &-right {
                display: block;
            }
        }

        .slick {
            .image {
                img {
                    height: 208px;
                }
            }
        }
    }
}