// Colors
$pink:#eb0286;
$orange:#f57e25;
$red:#ed1b2e;
$yellow:#ffca1b;
$green:#33bda5;

// Body
$body-bg: black;

// Font
$font-family-base: "True font";
$headings-font-weight: bold;
$font-family-special: 'True Bold Special';
$font-gt-medium:'GTWalsheimProMedium';
$font-gt-bold:'GTWalsheimProBold';
$font-gt-black:'GTWalsheimProBlack';

// Header
$offcanvas-bg: white;
$offcanvas-color: #808080;

// Footer
$footer-bg: url('../images/bg-footer.jpg') no-repeat center center/cover;
$footer-color: white;